<div class="flex justify-center px-[30px] py-[20px] bg-white">
    <div class="w-full mdx900:w-[75%] mdx900:px-[30px] py-[20px]">
        <div class="mdx900:px-[30px] mdx900:py-[20px] mb-8">
            <h1 class="text-[1.2rem] mdx900:text-[1.5em]">Completed courses!</h1>
        </div>
        <div class="grid grid-cols-1 mdx500:grid-cols-2 mdx900:grid-cols-2 gap-4">
            <div
                class="bg-white border border-1 border-solid border-[#ddd] rounded-[5px] px-[30px] py-[20px] shadow-card w-full">
                <h1 class="text-[1.17em] font-bold">Introduction to cybersecurity</h1>
                <h3 class="font-semibold">April 2024 – April 2024</h3>
                <h2>By CISCO</h2>
                <p class="mb-[.2em] mdx900:mb-[1rem] font-[400] mt-3 text-[.8rem]">In this course, I learned the essentials for staying safe online, in addition to common types of viruses, types of hackers, and good security practices at both the personal and business levels.</p>
            </div>

            <div
                class="bg-white border border-1 border-solid border-[#ddd] rounded-[5px] px-[30px] py-[20px] shadow-card w-full">
                <h1 class="text-[1.17em] font-bold">Python Without Borders: HTML, CSS, FLASK, and MySQL</h1>
                <h3 class="font-semibold">April 2024 – April 2024</h3>
                <h2>By Udemy</h2>
                <p class="mb-[.2em] mdx900:mb-[1rem] font-[400] mt-3 text-[.8rem]">In this course, I learned to implement the mini framework Flask and to create various projects like this portfolio itself, ranging from web applications to desktop applications.</p>
            </div>
        </div>
    </div>
</div>