{% extends 'base.html' %}

{% block title %}
Welcome
{% endblock %}

{% block content %}
<div class="bg-[#fff] px-[25px] mdx900:px-[50px] py-[20px] flex items-center z-[1] relative justify-center">
    <div class="mdx1350:flex items-center justify-center w-full mdx900:w-[80%]">
        <div class="mdx1350:w-[50%]">
            <h1 class="text-[25px] mdx900:text-[50px] font-[700] m-0">I'm developer</h1>
            <h1 class="text-[25px] mdx900:text-[50px] font-[700] ">Kevin Steven Sequeira Garita</h1>


            <p class="text-[.8rem] font-rubik mdx900:mb-[50px] text-justify font-[400]">Software developer who loves
                programming, including frontend and backend development, I also enjoy
                challenges, those that force me to learn day by day, since my motivation when facing problems is the
                satisfaction it gives me when I solve them and in turn, increase my knowledge in different technologies,
                in order to become a fullstack developer capable of giving the best solution to different problems.</p>
            <a class="inline-block w-full mt-4 mb-4 bg-[#034d6c] text-center text-[.8rem] text-[#fff] border-none px-[30px] py-[10px] mdx900:py-[15px] rounded-[10px] font-rubik"
                href="#contact">Contact me</a>
            <div class="row flex items-center justify-center text-[#fff] gap-x-4  mb-6 mdx900:m-0">
                <a target="_blank" href="https://www.linkedin.com/in/kevin-steven-sequeira-garita/"><img width="30"
                        class="w-[2rem] rounded-[5px] p-1" src="{{ url_for('static', filename='linkedin.png') }}" /></a>
                <a target="_blank" href="https://api.whatsapp.com/send?phone=50684525658"><img width="30"
                        class="w-[2rem] rounded-[5px] p-1" src="{{ url_for('static', filename='whats.png') }}" /></a>
                <a target="_blank" href="https://github.com/KevinSequeiraG"><img width="30"
                        class="w-[2rem] rounded-[5px] p-1" src="{{ url_for('static', filename='github.png') }}" /></a>
            </div>
        </div>
        <div class="mdx1350:w-[45%]">
            <img class="w-[90%] mx-auto max-w-[500px]" src="{{ url_for('static', filename='banner.jpg') }}" />
        </div>
    </div>
</div>
{% include 'portfolio/section-first.html' %}
{% include 'portfolio/work-experience.html' %}
{% include 'portfolio/section-second.html' %}
{% include 'portfolio/courses.html' %}
{% include 'portfolio/section-third.html' %}
{% endblock %}