<div class="flex justify-center px-[30px] py-[20px] bg-white">
    <div class="w-full mdx900:w-[75%] mdx900:px-[30px] py-[20px]">
        <div class="mdx900:px-[30px] mdx900:py-[20px] mb-8">
            <h1 class="text-[1.2rem] mdx900:text-[1.5em]">Work experience!</h1>
        </div>
        <div class="grid grid-cols-1 mdx500:grid-cols-2 mdx900:grid-cols-2 gap-4">
            <div class="bg-white border border-1 border-solid border-[#ddd] rounded-[5px] px-[30px] py-[20px] shadow-card w-full">
                <img src="{{ url_for('static', filename='images/my-studies/utn.png') }}"/>
                <h1 class="text-[1.17em] font-bold">Universidad Técnica Nacional</h1>
                <h3>January, 2020 - November, 2023</h3>
                <h2>Software engineering</h2>
            </div>

            <div class="bg-white border border-1 border-solid border-[#ddd] rounded-[5px] px-[30px] py-[20px] shadow-card w-full">
                <img src="{{ url_for('static', filename='images/my-studies/voca.png') }}"/>
                <h1 class="text-[1.17em] font-bold">Colegio técnico nacional Carlos Luis Fallas</h1>
                <h3>February, 2017 - December, 2019</h3>
                <h2>Business Computing</h2>
            </div>
        </div>
    </div>
</div>