<div class="flex justify-center px-[30px] py-[20px]">
    <div class="w-full mdx900:w-[75%] mdx900:px-[30px] py-[20px]">
        <div class="mdx900:px-[30px] mdx900:py-[20px] mb-8">
            <h1 class="text-[1.2rem] mdx900:text-[1.5em]">Look some of my projects using Python!</h1>
        </div>
        <div class="grid grid-cols-1 mdx800:grid-cols-2 mdx1300:grid-cols-3 gap-4">
            <div class="bg-[#f3f3f3] border border-1 border-solid border-[#ddd] rounded-[5px] px-[30px] py-[20px] shadow-card w-full">
                <img class="rounded-[15px] max-h-[15rem] w-full object-contain" src="{{ url_for('static', filename='images/my-projects/portfolio-next.png') }}" />
                <h3 class="text-[1.17em] font-bold mb-[.2em] mx900:mb-[1em] mt-4">Portfolio with Next.js</h3>
                <p class="mb-[.2em] mdx900:mb-[1rem] font-[400] text-[.8rem]">Web portfolio created with technologies
                    such as Next.js, Tailwind, i18n, among others, in order to demonstrate my skills in these
                    technologies.</p>
                <div class="flex justify-between">
                    <a target="_blank" href="https://github.com/KevinSequeiraG/mypage" class="text-[.8rem] font-rubik no-underline font-[700] transition-color duration-300 ease-in-out hover:text-[#d46230] text-[#f94f07]">View repository</a>
                    <a target="_blank"
                        class="text-[.8rem] font-rubik no-underline font-[700] transition-color duration-300 ease-in-out hover:text-[#d46230] text-[#f94f07]"
                        href="https://kevinsequeirag.vercel.app">Visit here</a>
                </div>
            </div>

            <div class="bg-[#f3f3f3] border border-1 border-solid border-[#ddd] rounded-[5px] px-[30px] py-[20px] shadow-card w-full">
                <img class="rounded-[15px] max-h-[15rem] w-full object-contain" src="{{ url_for('static', filename='images/my-projects/mailerksg.png') }}" />
                <h3 class="text-[1.17em] font-bold mb-[.2em] mx900:mb-[1em] mt-4">Mailer app</h3>
                <p class="mb-[.2em] mdx900:mb-[1rem] font-[400] text-[.8rem]">This is an application that sends emails
                    using the Mailgun API.</p>
                <div class="flex justify-between">
                    <a target="_blank" href="https://github.com/KevinSequeiraG/mailerksg" class="text-[.8rem] font-rubik no-underline font-[700] transition-color duration-300 ease-in-out hover:text-[#d46230] text-[#f94f07]">View repository</a>
                    <a target="_blank"
                        class="text-[.8rem] font-rubik no-underline font-[700] transition-color duration-300 ease-in-out hover:text-[#d46230] text-[#f94f07]"
                        href="https://mailerksg-2afeaabb6e63.herokuapp.com/">Visit here</a>
                </div>
            </div>

            <div class="bg-[#f3f3f3] border border-1 border-solid border-[#ddd] rounded-[5px] px-[30px] py-[20px] shadow-card w-full">
                <img class="rounded-[15px] max-h-[15rem] w-full object-contain" src="{{ url_for('static', filename='images/my-projects/crm.png') }}" />
                <h3 class="text-[1.17em] font-bold mb-[.2em] mx900:mb-[1em] mt-4">Client manager</h3>
                <p class="mb-[.2em] mdx900:mb-[1rem] font-[400] text-[.8rem]">An application to manage my clients.</p>
                <div class="flex justify-between">
                    <a target="_blank" href="https://github.com/KevinSequeiraG/client-manager" class="text-[.8rem] font-rubik no-underline font-[700] transition-color duration-300 ease-in-out hover:text-[#d46230] text-[#f94f07]">View repository</a>
                    <a target="_blank"
                        class="text-[.8rem] font-rubik no-underline font-[700] transition-color duration-300 ease-in-out hover:text-[#d46230] text-[#f94f07]"
                        href="{{ url_for('static', filename='libreta-clientes.exe') }}">Visit here</a>
                </div>
            </div>

            <div class="bg-[#f3f3f3] border border-1 border-solid border-[#ddd] rounded-[5px] px-[30px] py-[20px] shadow-card w-full">
                <img class="rounded-[15px] max-h-[15rem] w-full object-contain" src="{{ url_for('static', filename='images/my-projects/todoApp.png') }}" />
                <h3 class="text-[1.17em] font-bold mb-[.2em] mx900:mb-[1em] mt-4">Task manager</h3>
                <p class="mb-[.2em] mdx900:mb-[1rem] font-[400] text-[.8rem]">An application to manage my tasks.</p>
                <div class="flex justify-between">
                    <a target="_blank" href="https://github.com/KevinSequeiraG/task-manager" class="text-[.8rem] font-rubik no-underline font-[700] transition-color duration-300 ease-in-out hover:text-[#d46230] text-[#f94f07]">View repository</a>
                    <a target="_blank"
                        class="text-[.8rem] font-rubik no-underline font-[700] transition-color duration-300 ease-in-out hover:text-[#d46230] text-[#f94f07]"
                        href="{{ url_for('static', filename='db.exe') }}">Visit here</a>
                </div>
            </div>

            <div class="bg-[#f3f3f3] border border-1 border-solid border-[#ddd] rounded-[5px] px-[30px] py-[20px] shadow-card w-full">
                <img class="rounded-[15px] max-h-[15rem] w-full object-contain" src="{{ url_for('static', filename='images/my-projects/ksgsports.png') }}" />
                <h3 class="text-[1.17em] font-bold mb-[.2em] mx900:mb-[1em] mt-4">Sports Web Page</h3>
                <p class="mb-[.2em] mdx900:mb-[1rem] font-[400] text-[.8rem]">A dynamic website dedicated to sports
                    coverage.</p>
                <div class="flex justify-between">
                    <a target="_blank" href="https://github.com/KevinSequeiraG/ksgsports" class="text-[.8rem] font-rubik no-underline font-[700] transition-color duration-300 ease-in-out hover:text-[#d46230] text-[#f94f07]">View repository</a>
                    <a target="_blank"
                        class="text-[.8rem] font-rubik no-underline font-[700] transition-color duration-300 ease-in-out hover:text-[#d46230] text-[#f94f07]"
                        href="https://ksgsports.netlify.app/">Visit here</a>
                </div>
            </div>

            <div class="bg-[#f3f3f3] border border-1 border-solid border-[#ddd] rounded-[5px] px-[30px] py-[20px] shadow-card w-full">
                <img class="rounded-[15px] max-h-[15rem] w-full object-contain" src="{{ url_for('static', filename='images/my-projects/koe.png') }}" />
                <h3 class="text-[1.17em] font-bold mb-[.2em] mx900:mb-[1em] mt-4">KOE Food Management App</h3>
                <p class="mb-[.2em] mdx900:mb-[1rem] font-[400] text-[.8rem]">A comprehensive application for managing
                    food orders and inventory.</p>
                <div class="flex justify-between">
                    <a target="_blank" href="https://github.com/KevinSequeiraG/koefood" class="text-[.8rem] font-rubik no-underline font-[700] transition-color duration-300 ease-in-out hover:text-[#d46230] text-[#f94f07]">View repository</a>
                </div>
            </div>

            <div class="bg-[#f3f3f3] border border-1 border-solid border-[#ddd] rounded-[5px] px-[30px] py-[20px] shadow-card w-full">
                <img class="rounded-[15px] max-h-[15rem] w-full object-contain" src="{{ url_for('static', filename='images/my-projects/ArmourWeb.png') }}" />
                <h3 class="text-[1.17em] font-bold mb-[.2em] mx900:mb-[1em] mt-4">ArmourWeb</h3>
                <p class="mb-[.2em] mdx900:mb-[1rem] font-[400] text-[.8rem]">Creator of Web Apps Without Writing Code.
                </p>
                <div class="flex justify-between">
                    <a target="_blank" href="https://github.com/KevinSequeiraG/armour-web" class="text-[.8rem] font-rubik no-underline font-[700] transition-color duration-300 ease-in-out hover:text-[#d46230] text-[#f94f07]">View repository</a>
                    <a target="_blank"
                        class="text-[.8rem] font-rubik no-underline font-[700] transition-color duration-300 ease-in-out hover:text-[#d46230] text-[#f94f07]"
                        href="https://armour-web-byi6.vercel.app/login">Visit here</a>
                </div>
            </div>

            <div class="bg-[#f3f3f3] border border-1 border-solid border-[#ddd] rounded-[5px] px-[30px] py-[20px] shadow-card w-full">
                <img class="rounded-[15px] max-h-[15rem] w-full object-contain" src="{{ url_for('static', filename='images/my-projects/mossi.png') }}" />
                <h3 class="text-[1.17em] font-bold mb-[.2em] mx900:mb-[1em] mt-4">Mossi Food Service</h3>
                <p class="mb-[.2em] mdx900:mb-[1rem] font-[400] text-[.8rem]">A service-oriented food website featuring
                    inventory management exclusively for administrators..</p>
                <div class="flex justify-between">
                    <a target="_blank" href="https://github.com/KevinSequeiraG/mossiwebpage" class="text-[.8rem] font-rubik no-underline font-[700] transition-color duration-300 ease-in-out hover:text-[#d46230] text-[#f94f07]">View repository</a>
                    <a target="_blank"
                        class="text-[.8rem] font-rubik no-underline font-[700] transition-color duration-300 ease-in-out hover:text-[#d46230] text-[#f94f07]"
                        href="https://mossiwebpage.vercel.app/">Visit here</a>
                </div>
            </div>

            <div class="bg-[#f3f3f3] border border-1 border-solid border-[#ddd] rounded-[5px] px-[30px] py-[20px] shadow-card w-full">
                <img class="rounded-[15px] max-h-[15rem] w-full object-contain" src="{{ url_for('static', filename='images/my-projects/covid.png') }}" />
                <h3 class="text-[1.17em] font-bold mb-[.2em] mx900:mb-[1em] mt-4">Covid-19 Information Website</h3>
                <p class="mb-[.2em] mdx900:mb-[1rem] font-[400] text-[.8rem]">An informative website providing updates
                    and advice on Covid-19.</p>
                <div class="flex justify-between">
                    <a target="_blank" href="https://github.com/KevinSequeiraG/covidpage" class="text-[.8rem] font-rubik no-underline font-[700] transition-color duration-300 ease-in-out hover:text-[#d46230] text-[#f94f07]">View repository</a>
                    <a target="_blank"
                        class="text-[.8rem] font-rubik no-underline font-[700] transition-color duration-300 ease-in-out hover:text-[#d46230] text-[#f94f07]"
                        href="https://covid19kevin.netlify.app/">Visit here</a>
                </div>
            </div>

            <div class="bg-[#f3f3f3] border border-1 border-solid border-[#ddd] rounded-[5px] px-[30px] py-[20px] shadow-card w-full">
                <img class="rounded-[15px] max-h-[15rem] w-full object-contain" src="{{ url_for('static', filename='images/my-projects/cv.png') }}" />
                <h3 class="text-[1.17em] font-bold mb-[.2em] mx900:mb-[1em] mt-4">Online Resume</h3>
                <p class="mb-[.2em] mdx900:mb-[1rem] font-[400] text-[.8rem]">A personal website showcasing professional
                    history and skills.</p>
                <div class="flex justify-between">
                    <a target="_blank" href="https://github.com/KevinSequeiraG/mycv" class="text-[.8rem] font-rubik no-underline font-[700] transition-color duration-300 ease-in-out hover:text-[#d46230] text-[#f94f07]">View repository</a>
                    <a target="_blank"
                        class="text-[.8rem] font-rubik no-underline font-[700] transition-color duration-300 ease-in-out hover:text-[#d46230] text-[#f94f07]"
                        href="https://kevinsequeirag.netlify.app/">Visit here</a>
                </div>
            </div>

            <div class="bg-[#f3f3f3] border border-1 border-solid border-[#ddd] rounded-[5px] px-[30px] py-[20px] shadow-card w-full">
                <img class="rounded-[15px] max-h-[15rem] w-full object-contain" src="{{ url_for('static', filename='images/my-projects/tienda1.png') }}" />
                <h3 class="text-[1.17em] font-bold mb-[.2em] mx900:mb-[1em] mt-4">Simple Storefront</h3>
                <p class="mb-[.2em] mdx900:mb-[1rem] font-[400] text-[.8rem]">A basic visual layout for an online store.
                </p>
                <div class="flex justify-between">
                    <a target="_blank" href="https://github.com/KevinSequeiraG/clothingstore" class="text-[.8rem] font-rubik no-underline font-[700] transition-color duration-300 ease-in-out hover:text-[#d46230] text-[#f94f07]">View repository</a>
                    <a target="_blank"
                        class="text-[.8rem] font-rubik no-underline font-[700] transition-color duration-300 ease-in-out hover:text-[#d46230] text-[#f94f07]"
                        href="https://frontendstoreksg2.netlify.app/">Visit here</a>
                </div>
            </div>

            <div class="bg-[#f3f3f3] border border-1 border-solid border-[#ddd] rounded-[5px] px-[30px] py-[20px] shadow-card w-full">
                <img class="rounded-[15px] max-h-[15rem] w-full object-contain" src="{{ url_for('static', filename='images/my-projects/tienda2.png') }}" />
                <h3 class="text-[1.17em] font-bold mb-[.2em] mx900:mb-[1em] mt-4">Clothing Store</h3>
                <p class="mb-[.2em] mdx900:mb-[1rem] font-[400] text-[.8rem]">An online store specializing in
                    fashionable clothing and accessories.</p>
                <div class="flex justify-between">
                    <a target="_blank" href="https://github.com/KevinSequeiraG/clothingstore2" class="text-[.8rem] font-rubik no-underline font-[700] transition-color duration-300 ease-in-out hover:text-[#d46230] text-[#f94f07]">View repository</a>
                    <a target="_blank"
                        class="text-[.8rem] font-rubik no-underline font-[700] transition-color duration-300 ease-in-out hover:text-[#d46230] text-[#f94f07]"
                        href="https://frontendstoreksg.netlify.app/">Visit here</a>
                </div>
            </div>

            <div class="bg-[#f3f3f3] border border-1 border-solid border-[#ddd] rounded-[5px] px-[30px] py-[20px] shadow-card w-full">
                <img class="rounded-[15px] max-h-[15rem] w-full object-contain" src="{{ url_for('static', filename='images/my-projects/viajes.png') }}" />
                <h3 class="text-[1.17em] font-bold mb-[.2em] mx900:mb-[1em] mt-4">Travel Blog</h3>
                <p class="mb-[.2em] mdx900:mb-[1rem] font-[400] text-[.8rem]">A blog dedicated to sharing travel
                    adventures and tips.</p>
                <div class="flex justify-between">
                    <a target="_blank" href="https://github.com/KevinSequeiraG/travelblog" class="text-[.8rem] font-rubik no-underline font-[700] transition-color duration-300 ease-in-out hover:text-[#d46230] text-[#f94f07]">View repository</a>
                    <a target="_blank"
                        class="text-[.8rem] font-rubik no-underline font-[700] transition-color duration-300 ease-in-out hover:text-[#d46230] text-[#f94f07]"
                        href="https://blogviajesksg.netlify.app/">Visit here</a>
                </div>
            </div>

            <div class="bg-[#f3f3f3] border border-1 border-solid border-[#ddd] rounded-[5px] px-[30px] py-[20px] shadow-card w-full">
                <img class="rounded-[15px] max-h-[15rem] w-full object-contain" src="{{ url_for('static', filename='images/my-projects/cafe.png') }}" />
                <h3 class="text-[1.17em] font-bold mb-[.2em] mx900:mb-[1em] mt-4">Coffee Blog</h3>
                <p class="mb-[.2em] mdx900:mb-[1rem] font-[400] text-[.8rem]">A blog focusing on coffee culture,
                    reviews, and brewing tips.</p>
                <div class="flex justify-between">
                    <a target="_blank" href="https://github.com/KevinSequeiraG/coffeeblog" class="text-[.8rem] font-rubik no-underline font-[700] transition-color duration-300 ease-in-out hover:text-[#d46230] text-[#f94f07]">View repository</a>
                    <a target="_blank"
                        class="text-[.8rem] font-rubik no-underline font-[700] transition-color duration-300 ease-in-out hover:text-[#d46230] text-[#f94f07]"
                        href="https://blogcafeksg.netlify.app/">Visit here</a>
                </div>
            </div>

            <div class="bg-[#f3f3f3] border border-1 border-solid border-[#ddd] rounded-[5px] px-[30px] py-[20px] shadow-card w-full">
                <img class="rounded-[15px] max-h-[15rem] w-full object-contain" src="{{ url_for('static', filename='images/my-projects/bienesraices.png') }}" />
                <h3 class="text-[1.17em] font-bold mb-[.2em] mx900:mb-[1em] mt-4">Real Estate Website</h3>
                <p class="mb-[.2em] mdx900:mb-[1rem] font-[400] text-[.8rem]">A real estate website providing listings
                    and housing information.</p>
                <div class="flex justify-between">
                    <a target="_blank" href="https://github.com/KevinSequeiraG/realestate" class="text-[.8rem] font-rubik no-underline font-[700] transition-color duration-300 ease-in-out hover:text-[#d46230] text-[#f94f07]">View repository</a>
                    <a target="_blank"
                        class="text-[.8rem] font-rubik no-underline font-[700] transition-color duration-300 ease-in-out hover:text-[#d46230] text-[#f94f07]"
                        href="https://bienesraicesksg.netlify.app/">Visit here</a>
                </div>
            </div>

            <div class="bg-[#f3f3f3] border border-1 border-solid border-[#ddd] rounded-[5px] px-[30px] py-[20px] shadow-card w-full">
                <img class="rounded-[15px] max-h-[15rem] w-full object-contain" src="{{ url_for('static', filename='images/my-projects/formulario.png') }}" />
                <h3 class="text-[1.17em] font-bold mb-[.2em] mx900:mb-[1em] mt-4">Form Design</h3>
                <p class="mb-[.2em] mdx900:mb-[1rem] font-[400] text-[.8rem]">A design showcase for modern and
                    user-friendly online forms.</p>
                <div class="flex justify-between">
                    <a target="_blank" href="https://github.com/KevinSequeiraG/formDesign" class="text-[.8rem] font-rubik no-underline font-[700] transition-color duration-300 ease-in-out hover:text-[#d46230] text-[#f94f07]">View repository</a>
                    <a target="_blank"
                        class="text-[.8rem] font-rubik no-underline font-[700] transition-color duration-300 ease-in-out hover:text-[#d46230] text-[#f94f07]"
                        href="https://freelancerksg.netlify.app/">Visit here</a>
                </div>
            </div>

            <div class="bg-[#f3f3f3] border border-1 border-solid border-[#ddd] rounded-[5px] px-[30px] py-[20px] shadow-card w-full">
                <img class="rounded-[15px] max-h-[15rem] w-full object-contain" src="{{ url_for('static', filename='images/my-projects/xmlpage.png') }}" />
                <h3 class="text-[1.17em] font-bold mb-[.2em] mx900:mb-[1em] mt-4">Load from XML</h3>
                <p class="mb-[.2em] mdx900:mb-[1rem] font-[400] text-[.8rem]">Simple website that demonstrates the use of information via XML.</p>
                <div class="flex justify-between">
                    <a target="_blank" href="https://github.com/KevinSequeiraG/xmlLoad" class="text-[.8rem] font-rubik no-underline font-[700] transition-color duration-300 ease-in-out hover:text-[#d46230] text-[#f94f07]">View repository</a>
                    <a target="_blank"
                        class="text-[.8rem] font-rubik no-underline font-[700] transition-color duration-300 ease-in-out hover:text-[#d46230] text-[#f94f07]"
                        href="https://xmlloadksg.netlify.app/">Visit here</a>
                </div>
            </div>
        </div>
    </div>
</div>