<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>I develop web applications using best practices and quality.</h1>
                <p>I am constantly learning new technologies. This application was developed while learning Python with Flask</p>
            </div>
            <div class="right padded">
                <h1>We can talk about anything you want!</h1>
                <p>Just send me an email <a href="#contact" class="orange">clicking here</a></p>
            </div>
        </div>
    </div>
</div>