<div class="center padded white-bg">
    <div class="content padded">
        <div class="padded">
            <h1>Look some of my projects using Python!</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Mailer app</h3>
                <p>This is an application that sends emails using the Mailgun API.</p>
                <a target="_blank" class="orange" href="https://mailerksg-2afeaabb6e63.herokuapp.com/">Link here</a>
            </div>

            <div class="card third">
                <h3>Client manager</h3>
                <p>An application to manage my clients.</p>
                <a target="_blank" class="orange" href="{{ url_for('static', filename='libreta-clientes.exe') }}">Link here</a>
            </div>

            <div class="card third">
                <h3>Task manager</h3>
                <p>An application to manage my tasks.</p>
                <a target="_blank" class="orange" href="{{ url_for('static', filename='db.exe') }}">Link here</a>
            </div>
        </div>        
    </div>
</div>