<div class="flex justify-center">
    <div class="w-[90%] mdx900:w-[70%]">
        <div class="mdx600:flex py-[20px]">
            <div class="w-full mdx900:w-[50%] mdx900:px-[30px] py-[10px] mdx900:py-[20px]">
                <h1 class="text-[1.2rem] mdx900:text-[1.5em] font-bold mb-[.4rem] mdx900:mb-[1rem]">I develop web applications using best practices and quality.</h1>
                <p class="text-[.8rem]">I am constantly learning new technologies. This application was developed while learning Python with Flask</p>
            </div>
            <div class="w-full mdx900:w-[45%] mdx900:px-[30px] py-[10px] mdx900:py-[20px]">
                <h1 class="text-[1.2rem] mdx900:text-[1.5em] font-bold mb-[.4rem] mdx900:mb-[1rem]">We can talk about anything you want!</h1>
                <p class="text-[.8rem]">Just send me an email <a href="#contact" class="text-[#f94f07]">clicking here</a></p>
            </div>
        </div>
    </div>
</div>