<div class="flex justify-center px-[30px] py-[20px] bg-white">
    <div class="w-full mdx900:w-[75%] mdx900:px-[30px] py-[20px]">
        <div class="mdx900:px-[30px] mdx900:py-[20px] mb-8">
            <h1 class="text-[1.2rem] mdx900:text-[1.5em]">Work experience!</h1>
        </div>
        <div class="grid grid-cols-1 mdx500:grid-cols-2 mdx900:grid-cols-2 gap-4">
            <div
                class="bg-white border border-1 border-solid border-[#ddd] rounded-[5px] px-[30px] py-[20px] shadow-card w-full">
                <img class="mx-auto mb-4" src="{{ url_for('static', filename='images/work-exp/Doit.jpg') }}"/>
                <h1 class="text-[1.17em] font-bold">DoitXR</h1>
                <h3>August 2022 – Currently</h3>
                <h2>Full-Stack Developer</h2>
                <p class="mb-[.2em] mdx900:mb-[1rem] font-[400] mt-3 text-[.8rem]">Using different technologies like Next.js,
                    Tailwind CSS and Firebase I developed different functions and visuals
                    for a web application.</p>
            </div>

            <div
                class="bg-white border border-1 border-solid border-[#ddd] rounded-[5px] px-[30px] py-[20px] shadow-card w-full">
                <img class="mx-auto mb-4" src="{{ url_for('static', filename='images/work-exp/Immerso.jpg') }}"/>
                <h1 class="text-[1.17em] font-bold">Immerso.io</h1>
                <h3>Aug 2021 - Sep 2022</h3>
                <h2>Frontend Developer</h2>
                <p class="mb-[.2em] mdx900:mb-[1rem] font-[400] mt-3 text-[.8rem]">Participation in the creation of different
                    web applications, making use of augmented reality technologies, such as
                    ARjs and AFRAME, in addition to being in charge of implementing, through languages such as CSS3 and
                    technologies such as Bootstrap, the graphic design of some pages implementing React.</p>
            </div>
        </div>
    </div>
</div>